/*------------------combo box-----------------------------------*/

.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    background-image: url(Images/aqua-bg.gif);
    background-position: top left;
    border: 0px none;
    padding: 2px 0px 0px 8px;
    font-size: 11px;
    height: 17px;
    width: 150px;
}
.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    background-image: url(Images/aqua-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 19px;
    width: 19px;
}
.AquaStyle .ajax__combobox_itemlist
{
    border-color: #000000;
    background-color: #FFFFFF;
}

/*.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    margin-top: 0px;
    border: solid 1px #7F9DB9;
    border-right: 0px none;
    padding: 0px 0px 0px 0px;
    /*font-size: 13px;
    height: 18px;
    width: 107px;
}
.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    margin: 0 2px;
    padding: 0;
    background-image: url(Images/windows-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 17px;
}
.WindowsStyle .ajax__combobox_itemlist
{
    border-color: #7F9DB9;
}*/

.TableColumnNormal
{
	width: 200px;
	margin: 2px;
}

.PhanHoiHeader
{
	border: solid 1px #000000;
	background: #009999;
	height: 20px;
	vertical-align: middle;
	padding: 0 0 0 3px;
}

.PhanHoiHeader .NgayDang
{
	font-style: italic;
}

.PhanHoiContent
{
	border: solid 1px #000000;
	border-top: none 0px;
}

.PhanHoiContent .NoiDung
{
}

.DuyetPhanHoi
{
	border: solid 1px #000000;
	border-top: none 0px;
	margin-bottom: 10px;
}


/*-------------------------------- tin tức -----------------------*/
.TinTucHeader
{
	border: solid 1px #000000;
	background: #009999;
	height: 20px;
	vertical-align: middle;
	padding: 0 0 0 3px;
}

.TinTucHeader .TieuDe
{
	font-family: Tahoma;
	font-size: 14px;
}

.TinTucHeader .NgayDang
{
	font-style: italic;
}

.TinTucContent
{
	border: solid 1px #000000;
	border-top: none 0px;
	width: auto;
}

.TinTucContent .HinhDaiDien
{
	max-height: 150px;
	max-width: 150px;
	vertical-align: middle;
	
}

.TinTucContent .HinhDaiDienWrapper
{
	height: 150px;
	max-width: 150px;
	text-align: center;
}

.TinTucContent .TomTat
{
	font-family: Tahoma;
	font-size: 13px;
	padding: 3px;
}

.TinTucContent .TomTatWrapper
{
	float: left;
	font-family: Tahoma;
	font-size: 13px;
	
}

.TinTucContent .ChiTietWrapper
{
	float: left;
	text-align: right;
}