USE [CongTyLuHanh]
GO
/****** Object:  Table [dbo].[TINH_TRANG_XE]    Script Date: 12/12/2010 23:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH_TRANG_XE](
	[MaTinhTrangXe] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhTrangXe] [nvarchar](50) NULL,
 CONSTRAINT [PK_TINH_TRANG_XE] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrangXe] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH_TRANG_DAT_CHO]    Script Date: 12/12/2010 23:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH_TRANG_DAT_CHO](
	[MaTinhTrangDatCho] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhTrangDatCho] [nvarchar](50) NULL,
 CONSTRAINT [PK_TINH_TRANG_DAT_CHO] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrangDatCho] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH_TRANG_CHUYEN]    Script Date: 12/12/2010 23:41:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH_TRANG_CHUYEN](
	[MaTinhTrang] [int] IDENTITY(1,1) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_TINH_TRANG_CHUYEN] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
